footer {
    height: 200px;
    background: $footer;

    h3 {
        color: $color-h1;
    }

    p {
        color: $parrafo;
    }

    li {
        color: $fondo1;
    }

    a {
        color: $subtitulo;
    }       
}