* {
    margin: 0;
    padding: 0;
}

.container {

    width: 90%;
    max-width: 1400px;
    margin: 40px auto;
    display: grid;
    grid-template-areas:    "titulo titulo titulo"
                            "subtitulo subtitulo subtitulo"
                            "formulario dashed dashed";
    grid-gap: 20px;
    border: 2px dashed black;
}

h1 {
    padding: 20px;
    background: lightcyan;
    margin: auto;
    margin-top: 20px;
    grid-area: titulo;
    border-radius: 5px;
}

h2 {
    padding: 20px;
    background: lightcyan;
    margin: auto;
    grid-area: subtitulo;
    border-radius: 5px;
}

h3 {
    padding: 30px;
}

.box {
    color: black;
    background: lightgreen;
    border-radius: 5px;
    padding: 40px;
    grid-area: formulario; 
       
}

.dashed {
    grid-area: dashed;
    background: lightsalmon;

}

#submit {
    padding: 10px 30px;
    display: grid;
    margin: 20px auto;
}

.resultado {
    width: 100%;
    height: 100%;
    border: 1px solid black;
}

.resultado p {
    margin-left: 20px;
}